.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: white;
  margin: 0 auto 32px;
  padding: 0;
}

@media (min-width: 426px) and (max-width: 767px) {
  .cover__title {
    font-size: 8vw;
    line-height: 9vw;
    margin: 0 auto 16px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto 16px;
  }
}
